*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.table{
    width:70px;
    height:20px;
    /* border:2px solid black; */
}

.btn-container{
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
input{
    align-self:center;
}
.btn{
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    border: none;
}
