*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#BD4089;
}
h1{
    text-align: center;
    font-size:5em;
    text-decoration: underline;
}
.container{
    display: grid;
    width:960px;
    height:480px;
    background-color: #42213D;
    overflow:hidden;
    border-radius: 10px;
    border:1px solid black;
}
.btn-container{
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.newcontainer{
    display:flex;
    align-items:center;
    justify-content: center;
}
input{
    align-self:center;
}
.btn{
    color:white;
    background-color: #683257;
    margin:1em;
    padding: 1em;
    margin-bottom:2em;
    border: none;
    border-radius: 10px;
    
}
